.App {  
  text-align: center;
  background-image: url('https://images5.alphacoders.com/881/thumb-1920-881376.jpg');
  background-repeat: no-repeat;
  background-color: black;
  padding: 30px 0px 0px;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.rosterDisplay{
  width: 100%;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.loading-banner{
  background-color: transparent;
  color: black;
  width: 100%;
  margin-top: -30px;
  padding-top: 100px;
}

.loading{
  width: 100%;
}

.buttongrp{
  margin: auto;
  display: block;
  height: 50px;
  width: fit-content;
  background-color: rgb(248,249,250);
  vertical-align: top;
  font-size: 25px;
  border: 2px solid black;
  box-shadow: black 1px 1px 1px;
  border-radius: 8px;
  white-space: nowrap;
}

.sortButton.btn.btn-light{
  border: none;
  box-sizing: border-box;
  background-color: rgb(248,249,250);
  color: black;
  font-size: 22px;
  height: 45px;
  vertical-align: middle;
  text-align: center;
}

.sortButton.btn.btn-light:hover{
    background-color: lightgray;
}

.sortTab{
  color: black;
  font-size: 22px;
  height: 45px;
  margin: 0px 0px 0px -1px;
  padding: 8px 16px;
  display: inline-block;
  background-color: #F8F9FA;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


@media screen and (max-width: 1600px) {
  .buttongrp{
    width:30%;
    white-space: nowrap;
  }
  .sortMessage{
    text-align: left;
    margin-left: 35px;    
    font-size: 22px;
  }
  .sortButton.btn.btn-light{
    border: none;
    box-sizing: border-box;
    background-color: rgb(248,249,250);
    color: black;
    font-size: 22px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 1200px) {
  .buttongrp{
    width:fit-content;
    white-space: nowrap;
  }
  .sortMessage{
    text-align: left;
    margin-left: 35px;  }
  .sortButton.btn.btn-light{
    border: none;
    box-sizing: border-box;
    background-color: rgb(248,249,250);
    color: black;
    font-size: 20px;
    width: 20%;
    vertical-align: middle;
  }
}

@media screen and (max-width: 992px) {
  .buttongrp{
    width:fit-content;
    white-space: nowrap;
  }
  .sortTab{
    text-align: left;
    font-size: 18px;
  }
  .sortButton.btn.btn-light{
    border: none;
    box-sizing: border-box;
    background-color: rgb(248,249,250);
    color: black;
    font-size: 18px;
    width: 20%;
    vertical-align: middle;
  }
}

@media screen and (max-width: 780px) {
  .buttongrp{
    width:fit-content;
    white-space: nowrap;
  }
  .sortMessage{
    font-size: 16px;
  }
  .sortButton.btn.btn-light{
    border: none;
    box-sizing: border-box;
    background-color: rgb(248,249,250);
    color: black;
    font-size: 16px;
    width: 20%;
    vertical-align: middle;
  }
}

@media screen and (max-width: 556px) {
  .rosterDisplay{
    width: 90%;
    font-size: 18px;
  }
  .buttongrp{
    width: 100%;
    margin-left: 0px;
    background-color: rgb(248,249,250);
    font-size: 16px;
    border: 2px solid black;
    box-shadow: black 1px 1px 1px;
    border-radius: 8px;
  }
  .sortTab{
    font-size: 16px;
    padding: 11px;
  }
  .sortButton.btn.btn-light{
    border: none;
    box-sizing: border-box;
    background-color: rgb(248,249,250);
    color: black;
    font-size: 16px;
    vertical-align: top;
  }
}

@media screen and (max-width: 280px) {
  .rosterDisplay{
    width: 90%;
    font-size: 18px;
  }
  .buttongrp{
    width: 100%;
    margin-left: 0px;
    background-color: rgb(248,249,250);
    font-size: 10px;
    border: 2px solid black;
    box-shadow: black 1px 1px 1px;
    border-radius: 8px;
  }
  .sortTab{
    font-size: 10px;
  }
  .sortButton.btn.btn-light{
    border: none;
    box-sizing: border-box;
    background-color: rgb(248,249,250);
    color: black;
    font-size: 10px;
    vertical-align: top;
  }
}