.App {  
  text-align: center;
  z-index: -1;
  background-color: rgba(208, 0, 0, 0.76);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Faketable{
  margin: auto;
  border: solid 2px black;
  box-shadow: 0px 0px 15px rgba(0,0,0,1);
  width: 35%;
  min-width: 35%;
  display: table;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}