.App {  
  text-align: center;
  background-image: url('https://images5.alphacoders.com/881/thumb-1920-881376.jpg');
  background-repeat: no-repeat;
  background-color: black;
  padding: 30px 0px 0px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.loading-banner{
  background-color: white;
  color: black;
  width: 100%;
  margin-top: -30px;
  padding-top: 100px;
}

.buttonContainer{
  margin: auto;
  display: block;
  height: 50px;
  width: 35%;
  background-color: rgb(248,249,250);
  vertical-align: top;
  font-size: 25px;
  border: 2px solid black;
  box-shadow: black 1px 1px 1px;
  border-radius: 8px;
  white-space: nowrap;
}

.sortButton{
  border: none;
  box-sizing: border-box;
  background-color: rgb(248,249,250);
  color: black;
  font-size: 25px;
  height: 45px;
  width: 20%;
  vertical-align: middle;
}

.sortTab{
  color: black;
  font-size: 20px;
  height: 45px;
  margin: 0px 0px 0px -1px;
  padding: 8px 16px;
  display: inline-block;
  background-color: #F8F9FA;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media screen and (max-width: 1900px) {
  .buttonContainer{
    width:40%;
    white-space: nowrap;
  }
  .sortMessage{
    text-align: left;
    margin-left: 35px;
  }
  .sortButton{
    border: none;
    box-sizing: border-box;
    background-color: rgb(248,249,250);
    color: black;
    font-size: 22px;
    width: 20%;
    vertical-align: top;
  }
}

@media screen and (max-width: 1600px) {
  .buttonContainer{
    width:45%;
    white-space: nowrap;
  }
  .sortMessage{
    text-align: left;
    margin-left: 35px;    
    font-size: 22px;
  }
  .sortButton{
    border: none;
    box-sizing: border-box;
    background-color: rgb(248,249,250);
    color: black;
    font-size: 22px;
    width: 20%;
    vertical-align: middle;
  }
}

@media screen and (max-width: 1400px) {
  .buttonContainer{
    width:45%;
    white-space: nowrap;

  }
  .sortMessage{
    text-align: left;
    margin-left: 35px;    
    font-size: 20px;
  }
  .sortButton{
    border: none;
    box-sizing: border-box;
    background-color: rgb(248,249,250);
    color: black;
    font-size: 20px;
    width: 20%;
    vertical-align: middle;
  }
}

@media screen and (max-width: 1200px) {
  .buttonContainer{
    width:65%;
    white-space: nowrap;
  }
  .sortMessage{
    text-align: left;
    margin-left: 35px;  }
  .sortButton{
    border: none;
    box-sizing: border-box;
    background-color: rgb(248,249,250);
    color: black;
    font-size: 20px;
    width: 20%;
    vertical-align: middle;
  }
}

@media screen and (max-width: 1000px) {
  .buttonContainer{
    width:85%;
    white-space: nowrap;
  }
  .sortMessage{
    text-align: left;
    margin-left: 35px;    
    font-size: 16px;
  }
  .sortButton{
    border: none;
    box-sizing: border-box;
    background-color: rgb(248,249,250);
    color: black;
    font-size: 18px;
    width: 20%;
    vertical-align: middle;
  }
}

@media screen and (max-width: 780px) {
  .buttonContainer{
    width:90%;
    white-space: nowrap;
  }
  .sortMessage{
    font-size: 16px;
  }
  .sortButton{
    border: none;
    box-sizing: border-box;
    background-color: rgb(248,249,250);
    color: black;
    font-size: 16px;
    width: 20%;
    vertical-align: middle;
  }
}

@media screen and (max-width: 440px) {
  .buttonContainer{
    margin: 10px 0px 0px 0px;
    display: inline-block;
    height: 45px;
    width: 100%;
    background-color: rgb(248,249,250);
    vertical-align: middle;
    font-size: 12px;
    border: 2px solid black;
    box-shadow: black 1px 1px 1px;
    border-radius: 8px;
    white-space: nowrap;
  }
  .sortMessage{
    text-align: left;
    margin-left: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
  }
  .sortButton{
    border: none;
    box-sizing: border-box;
    background-color: rgb(248,249,250);
    color: black;
    font-size: 12px;
    height: 25px;
    width: 20%;
    vertical-align: top;
  }
}