.App {  
  text-align: center;
  background-image: url('https://images5.alphacoders.com/881/thumb-1920-881376.jpg');
  background-repeat: no-repeat;
  background-color: black;
  /* why is a non-zero padding value fixing 
    a gap in the bg-color between navbar
    and table?
  */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.loading-banner{
  background-color: white;
  color: black;
  height: 100px;
}