.App {  
  text-align: center;
  background-image: url('https://images5.alphacoders.com/881/thumb-1920-881376.jpg');
  background-repeat: no-repeat;
  background-color: black;
  padding: .1px 0px;
  /* why is a non-zero padding value fixing 
    a gap in the bg-color between navbar
    and table?
  */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Faketable{
  margin: auto;
  border: solid 2px black;
  box-shadow: 0px 10px 15px rgba(0,0,0,1);
  min-width: 35%;
  display: table;
  margin-bottom: 20px;
  background-color: white;
}

.row {
  min-width: 100%;
  display: table-row;
  flex-wrap: wrap;
}

.cell{
  margin: auto;
  margin-left: 0%;
  min-width: 22%;
  display: table-cell;
  text-align: center;
}

.header-cell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.space-padding{

}

.header-row {
  margin: auto ;
  width: 100%;
  display: table-row;
}

.row-container{
  min-height: 40px;
  margin: auto;
  margin-top: 100px;
  border: solid 2px black;
  box-shadow: 0px 5px 15px rgba(0,0,0,1);
  min-width: 35%;
  display: table;
  background-color: white;
  border-bottom-style: none;
}

@media (max-width: 1440px) {
  .header-row {
    margin: auto ;
    width: 100%;
    display: table-row;
  }
  .row-container{
    min-height: 40px;
    margin: auto;
    margin-top: 20px;
    border: solid 2px black;
    box-shadow: 0px 5px 15px rgba(0,0,0,1);
    min-width: 40%;
    display: table;
    background-color: white;
    border-bottom-style: none;
  } 
  .Faketable{
    margin: auto;
    border: solid 2px black;
    box-shadow: 0px 10px 15px rgba(0,0,0,1);
    min-width: 40%;
    display: table;
    margin-bottom: 20px;
    background-color: white;
  }
}

@media (max-width: 1600px) {
  .header-row {
    margin: auto ;
    width: 100%;
    display: table-row;
  }
  .row-container{
    min-height: 40px;
    margin: auto;
    margin-top: 20px;
    border: solid 2px black;
    box-shadow: 0px 5px 15px rgba(0,0,0,1);
    min-width: 35%;
    display: table;
    background-color: white;
    border-bottom-style: none;
  } 
  .Faketable{
    margin: auto;
    border: solid 2px black;
    box-shadow: 0px 10px 15px rgba(0,0,0,1);
    min-width: 35%;
    display: table;
    margin-bottom: 20px;
    background-color: white;
  }
}

@media (max-width: 1000px) {
  .header-row {
    margin: auto ;
    width: 100%;
    display: table-row;
  }
  .row-container{
    min-height: 40px;
    margin: auto;
    margin-top: 20px;
    border: solid 2px black;
    box-shadow: 0px 5px 15px rgba(0,0,0,1);
    min-width: 85%;
    display: table;
    background-color: white;
    border-bottom-style: none;
  } 
  .Faketable{
    margin: auto;
    border: solid 2px black;
    box-shadow: 0px 10px 15px rgba(0,0,0,1);
    min-width: 85%;
    display: table;
    margin-bottom: 20px;
    background-color: white;
  }
}

@media (max-width: 800px) {
  .header-row {
    margin: auto ;
    width: 100%;
    display: table-row;
  }
  .row-container{
    min-height: 40px;
    margin: auto;
    margin-top: 20px;
    border: solid 2px black;
    box-shadow: 0px 5px 15px rgba(0,0,0,1);
    min-width: 85%;
    display: table;
    background-color: white;
    border-bottom-style: none;
  } 
  .Faketable{
    margin: auto;
    border: solid 2px black;
    box-shadow: 0px 10px 15px rgba(0,0,0,1);
    min-width: 85%;
    display: table;
    margin-bottom: 20px;
    background-color: white;
  }
}

@media (max-width: 360px) {
  .cell{
    margin: auto;
    margin-left: 0%;
    min-width: 20%;
    display: table-cell;
    text-align: center;
  }
  
  .header-row {
    margin: auto ;
    width: 100%;
    display: table-row;
  }
  .row-container{
    min-height: 40px;
    margin: auto;
    margin-top: 20px;
    border: solid 2px black;
    box-shadow: 0px 5px 15px rgba(0,0,0,1);
    min-width: 85%;
    display: table;
    background-color: white;
    border-bottom-style: none;
  } 
  .Faketable{
    margin: auto;
    border: solid 2px black;
    box-shadow: 0px 10px 15px rgba(0,0,0,1);
    min-width: 85%;
    display: table;
    margin-bottom: 20px;
    background-color: white;
  }
}

@media (max-width: 400px) {
  .cell{
    margin: auto;
    margin-left: 0%;
    min-width: 20%;
    display: table-cell;
    text-align: center;
  }
  
  .header-row {
    margin: auto ;
    width: 100%;
    display: table-row;
  }
  .row-container{
    min-height: 40px;
    margin: auto;
    margin-top: 20px;
    border: solid 2px black;
    box-shadow: 0px 5px 15px rgba(0,0,0,1);
    min-width: 85%;
    display: table;
    background-color: white;
    border-bottom-style: none;
  } 
  .Faketable{
    margin: auto;
    border: solid 2px black;
    box-shadow: 0px 10px 15px rgba(0,0,0,1);
    min-width: 85%;
    display: table;
    margin-bottom: 20px;
    background-color: white;
  }
}

@media (max-width: 600px) {

  .header-row {
    margin: auto ;
    width: 100%;
    display: table-row;
  }
  .row-container{
    min-height: 40px;
    margin: auto;
    margin-top: 20px;
    border: solid 2px black;
    box-shadow: 0px 5px 15px rgba(0,0,0,1);
    min-width: 85%;
    display: table;
    background-color: white;
    border-bottom-style: none;
  } 
  .Faketable{
    margin: auto;
    border: solid 2px black;
    box-shadow: 0px 10px 15px rgba(0,0,0,1);
    min-width: 85%;
    display: table;
    margin-bottom: 20px;
    background-color: white;
  }
}

@media (max-width: 330px) {
  .cell{
    margin: auto;
    margin-left: 0%;
    min-width: 20%;
    display: table-cell;
    text-align: center;
  }

  .header-row {
    margin: auto ;
    width: 100%;
    display: table-row;
  }
  .row-container{
    min-height: 40px;
    margin: auto;
    margin-top: 20px;
    border: solid 2px black;
    box-shadow: 0px 5px 15px rgba(0,0,0,1);
    min-width: 100%;
    display: table;
    background-color: white;
    border-bottom-style: none;
  } 
  .Faketable{
    margin: auto;
    border: solid 2px black;
    box-shadow: 0px 10px 15px rgba(0,0,0,1);
    min-width: 100%;
    display: table;
    margin-bottom: 20px;
    background-color: white;
  }
}