.selection{
	color: black;
	cursor: pointer;
	text-align: center;
	margin: 22px 15px 15px;
}

.selection:link {
	text-decoration: none;
}

/* visited link */
.selection:visited {
	text-decoration: none;
}

/* mouse over link */
.selection:hover {
	background-color: rgba(216,216,216, .86);
}

.selection:focus {
	text-decoration: none;
}

/* selected link */
.selection:active {
	text-decoration: none;
	background-color: rgba(216,216,216, .86);
}

