.selection{
	color: black;
	cursor: pointer;
	text-align: left;
	margin: 15px;
	margin-top: 22px;
}

.selectionRoster:link {
	text-decoration: none;
}

/* visited link */
.selection:visited {

}

/* mouse over link */
.selection:hover {
	text-decoration: none;
	border: none;
	background-color: rgba(216,216,216, .86);
}

/* selected link */
.selection:active {
	text-decoration: none !important;
	background-color: rgba(216,216,216, .86);
}