
.rankings-container{
	margin: auto;
	width: 40%;
	top: 10%;
	display: table;
	background-color: none;
	position: relative;
	border: 1px solid black;
	box-shadow: 5px 5px 5px;
}

.rankings-page{
	height: 1000px;
	background-image: url('https://images5.alphacoders.com/881/thumb-1920-881376.jpg');
	background-repeat: no-repeat;
	background-color: black;
}

.rankings-cell{
	margin: auto;
	display: table-cell;
	width: 25%;
	vertical-align: middle;
	text-align: center;	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: black; 
}

.title-cell{
	background-color:#d8d8d8;
	display: table;
	border: 1px solid black;
	border-bottom: none;
	width: 40%;
	margin: auto;
	top: 10%;
	position: relative;
	text-align: center;
	box-shadow: 5px 5px 5px;
}

@media screen and (max-width: 440px) {
	h4{
		font-size: 1em;
	}
	.title-cell{
		width: 75%;
		font-size: 1em;
	}
	.rankings-container{
		margin: auto;
		width: 75%;
		height: 35%;
		display: table;
		background-color: none;
		position: relative;
	}
}

@media screen and (max-width: 330px) {
	h4{
		font-size: 1em;
	}
	.title-cell{
		width: 75%;
		font-size: 1em;
	}
	.rankings-container{
		margin: auto;
		width: 75%;
		height: 35%;
		display: table;
		background-color: none;
		position: relative;
	}	
}

@media screen and (max-width: 620px) {
	h4{
		font-size: 1.25em;
	}
	.title-cell{
		width: 75%;
		font-size: 1.25em;
	}
	.rankings-container{
		margin: auto;
		width: 75%;
		height: 35%;
		display: table;
		background-color: none;
		position: relative;
	}
}

@media screen and (max-width: 850px) {
	h4{
		font-size: 1.125em;
	}
	.title-cell{
		width: 75%;
		font-size: 1.125em;
	}
	.rankings-container{
		margin: auto;
		width: 75%;
		height: 35%;
		display: table;
		background-color: none;
		position: relative;
	}
}

@media screen and(max-width: 1050px) {
	h4{
		font-size: 1.3em;
	}
	.title-cell{
		font-size: 1.3em;
		width: 75%;
	}
	.rankings-container{
		margin: auto;
		width: 75%;
		height: 35%;
		display: table;
		background-color: none;
		position: relative;
	}
	.rankings-cell{
		margin: auto;
		display: table-cell;
		width: 25%;
		vertical-align: middle;
		text-align: center;	
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: black; 
	}
}