
.rankings-container{
	margin: auto;
	width: 40%;
	height: 35%;
	padding: 100px 0px;
	display: table;
	background-color: none;
	position: relative;
}

.rankings-page{
	height: 1260px;
	background-image: url('https://images5.alphacoders.com/881/thumb-1920-881376.jpg');
	background-size: 100% 100%;
}

.rankings-cell{
	margin: auto;
	display: table-cell;
	width: 25%;
	vertical-align: middle;
	text-align: center;	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: black; 
}