
.rankings-cell{
	margin: auto;
	display: table-cell;
	width: 25%;
	vertical-align: middle;
	text-align: center;	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: black; 
	white-space: normal;
	font-size: 1.25em;
}

.rankings-row{
	width: 100%;
	display: table-row;
	margin: auto;
	background-color: white;

}

.rankings-row:nth-of-type(even) {
	background-color:#d8d8d8;
}

@media (max-width: 440px) {
	h4, h5{
		font-size: 1em;
	}
	.rankings-container{
		margin: auto;
		width: 95%;
		height: 35%;
		display: table;
		background-color: none;
		position: relative;
	}
	.rankings-cell{
		font-size: 1em;
	}
}

@media (max-width: 330px) {
	h4, h5{
		font-size: .75em;
	}
	.rankings-container{
		font-size: .75em;
		margin: auto;
		width: 95%;
		height: 35%;
		display: table;
		background-color: none;
		position: relative;
	}	
	.rankings-cell{
		font-size: .75em;
	}
}

@media (max-width: 600px) {
	h4, h5{
		font-size: 1em;
	}
	.rankings-container{
		margin: auto;
		width: 95%;
		height: 35%;
		display: table;
		background-color: none;
		position: relative;
	}
}