
.rankings-cell{
	margin: auto;
	display: table-cell;
	padding: 20px;
}

.rankings-container{
	width: 100%;
	margin: auto;
	background-color: none;
}

.rankings-row{
	width: 15%;
	margin: auto;
	background-color: whitesmoke;
}