.character-container{
	display: inline-grid;
	margin: 30px 30px 30px 30px;
	height: 250px;
	width: 160px;
	color: black;
	font-size: 1.12em;
	background-image: url('questframe.png');
	border-radius: 10px;
	box-shadow: 5px 5px 5px;
}

.character-container:hover{
	transform: scale(1.05);
	transition: linear 200ms;
	filter: brightness(1.2);
}

.Dps{
	background-image: url('uiDps.png');
	background-repeat: no-repeat;
	margin: auto;
	height: 70px;
	width: 70px;
}

.Healer{
	background-image: url('uiHealer.png');
	background-repeat: no-repeat;
	margin: auto;
	height: 70px;
	width: 60px;
}

.Tank{
	background-image: url('uiTank.png');
	background-repeat: no-repeat;
	margin: auto;
	height: 70px;
	width: 60px;
}

.img-container{
	width: 100%;
	margin-top: 5px;
}

span{
	display: block;
	margin-top: 5px;
}

.character-img:hover {
	transition: linear 200ms;
	filter: brightness(1.2);
	transform: scale(1.1);
}

.character-img{
	filter: brightness(.95);
}