
#row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

#row:nth-of-type(even) {
	background-color:#d8d8d8;
}


img{
	margin-left: -60px;
	max-width: 100%;

}

img:hover {
	transform: translateX(2px);
}