
#row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

#row:nth-of-type(even) {
	background-color:#d8d8d8;
}

.character-container{
	display: inline-block;
	margin: 60px 30px 30px 30px;
	height: 250px;
	width: 160px;
	color: black;
	font-size: 1.12em;
	background-image: url('questframe.png');
	border-radius: 10px;
	box-shadow: 5px 5px 5px;
}

.character-container:hover{
	transform: scale(1.05);
	transition: linear 200ms;
	filter: brightness(1.2);
}

.img-container{
	width: 100%;
	margin-top: 5px;
	filter: brightness(.75);
}

span{
	display: block;
	margin-top: 5px;
}

.character-img:hover {
	transition: linear 200ms;
	filter: brightness(1.2);
	transform: scale(1.1);
}

.character-img{
		filter: brightness(.75);
	}

@media (max-width: 800px) {
	.character-img{
		
		filter: brightness(.75);
	}
  
}

@media (max-width: 360px) {
	.character-img{
	
		filter: brightness(.75);
	}
  
}

@media (max-width: 300px) {
	.character-img{
		
		filter: brightness(.75);
	}
  
}


@media (max-width: 400px) {
	.character-img{
		
		filter: brightness(.75);
	}
  
}

@media (max-width: 1200px) {
	.character-img{
	
		filter: brightness(.75);
	}
  
}